h1 {
  text-align: center;
  margin: 1vh 0 1vh;
  color: #1b4965;
}

.projectBlurb {
  text-align: center;
  margin: 1vh 20% 1vh;
  background-color: #1b4965;
  color: aliceblue;
}

.buttonDiv {
  display: flex;
  justify-content: space-around;
  margin: 3vh 30% 3vh;
}

.tileDiv {
  display: flex;
  justify-content: space-around;
  margin: 5vh 10% 5vh;
}
