.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Foot height */
  height: 2.5rem;
}

#icons {
  display: flex;
  justify-content: center;
}

.fab {
  margin: 0 5px 0;
  color: #1b4965;
}
